<div layout="row">
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('md')">
        <md-toolbar class="md-tall" md-theme="default">
            <h1 class="md-toolbar-tools">Starterkit Application</h1>
        </md-toolbar>
        <md-content ng-controller="LeftNavCtrl">
            <div layout="row" class="menu-item menu-title">
                <i class="fa fa-home menu-icon"></i>
                Welcome
            </div>
            <div layout="row" class="menu-item menu-title">
                <i class="fa fa-list-alt menu-icon"></i>
                UI Components
            </div>
            <div layout="row" class="menu-item menu-title">
                <i class="fa fa-file-text-o menu-icon"></i>
                CRUD Example
            </div>
            <div layout="row" class="menu-item menu-title">
                <i class="fa fa-comments-o menu-icon"></i>
                chat
            </div>
        </md-content>
    </md-sidenav>


    <div layout="column" layout-fill >
        <md-toolbar>

            <div class="md-toolbar-tools">

                <md-button class="menu-icon" hide="" show-phone="" show-tablet="" aria-label="Toggle Menu" ng-click="toggleLeft()">
                    <i class="fa fa-bars" style="font-size:24px; line-height:24px;color:white;"></i>
                </md-button>

                <span>Welcome</span>

                <!-- fill up the space between left and right area -->
                <span flex></span>

            </div>
        </md-toolbar>


        <md-content flex class="md-padding">
            <div layout="column" layout-fill layout-align="center center">

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non condimentum quam. Aenean euismod ut urna id varius. Aliquam convallis felis quam, non molestie tortor fermentum in. Praesent convallis cursus lacus. Etiam quis eleifend justo. Donec pellentesque porttitor libero porttitor dapibus. Aenean ut sapien ac mi bibendum rhoncus et eu ipsum. Pellentesque at justo sed lacus tempus consectetur. Vivamus eu orci id odio rhoncus elementum eget ac nulla. Mauris vitae neque vel neque eleifend faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec imperdiet elit a enim cursus faucibus.</p>

                <h1 class="layout-title">h1 heading</h1>
                <h2>h2 heading</h2>
                <h3>h3 heading</h3>
                <h4>h4 heading</h4>
                <h5>h5 heading</h5>
                <h6>h6 heading</h6>

                <p>Pellentesque pharetra nulla nec justo lacinia sollicitudin. Ut sit amet aliquet enim. Sed ornare luctus arcu nec laoreet. Nulla facilisi. Duis ut nisl quis nisl fringilla laoreet ut sed augue. Donec pharetra ante purus, non condimentum nulla semper eget.</p>

                <md-content>
                    <style>
                        section .md-button {margin:1em;}
                    </style>
                    <section layout="row" layout-phone="column" layout-align="center center">
                        <md-button>{{title1}}</md-button>
                        <md-button md-no-ink class="md-primary">Primary (md-noink)</md-button>
                        <md-button ng-disabled="isDisabled" class="md-primary">Disabled</md-button>
                        <md-button class="md-warn" ng-click="isDisabled = !isDisabled">{{title4}}</md-button>
                    </section>

                    <section layout="row" layout-phone="column" layout-align="center center">
                        <md-button class="md-raised">Button</md-button>&nbsp;
                        <md-button class="md-raised md-primary">Primary</md-button>&nbsp;
                        <md-button ng-disabled="true" class="md-raised md-primary">Disabled</md-button>&nbsp;
                        <md-button class="md-raised md-warn">Warn</md-button>&nbsp;
                    </section>

                    <section layout="row" layout-phone="column" layout-align="center center">
                        <md-button class="md-fab" aria-label="Time">
                            <md-icon icon="/img/icons/ic_access_time_24px.svg" style="width: 24px; height: 24px;"></md-icon>
                        </md-button>
                        &nbsp;
                        <md-button class="md-fab" aria-label="New document">
                            <md-icon icon="/img/icons/ic_insert_drive_file_24px.svg" style="width: 24px; height: 24px;"></md-icon>
                        </md-button>
                        &nbsp;
                        <md-button class="md-fab" ng-disabled="true" aria-label="Comment">
                            <md-icon icon="/img/icons/ic_comment_24px.svg" style="width: 24px; height: 24px;"></md-icon>
                        </md-button>
                        &nbsp;
                        <md-button class="md-fab md-primary" md-theme="cyan" aria-label="Profile">
                            <md-icon icon="/img/icons/ic_people_24px.svg" style="width: 24px; height: 24px;"></md-icon>
                        </md-button>
                    </section>

                    <section layout="row" layout-phone="column" layout-align="center center">
                        <md-button ng-href="{{googleUrl}}" target="_blank">Go to Google</md-button>&nbsp;
                        <md-button>RSVP</md-button>
                    </section>

                    <section layout="row" layout-phone="column" layout-align="center center">
                        <md-button class="md-primary" md-theme="green">Button</md-button>&nbsp;
                        <md-button class="md-primary md-raised" md-theme="indigo">Button</md-button>&nbsp;
                        <md-button class="md-primary md-raised" md-theme="orange">Button</md-button>&nbsp;
                        <md-button class="md-primary" md-theme="cyan">Button</md-button>
                    </section>
                </md-content>

            </div>
        </md-content>
    </div>
</div>



