<div layout="column" layout-fill>
    <h1>Button</h1>
    <md-content>
        <style>
            section .md-button {margin:1em;}
        </style>

        <h2>Classic</h2>
        <section layout="row" layout-phone="column" layout-align="center center">
            <md-button>{{title1}}</md-button>
            <md-button md-no-ink class="md-primary">Primary (md-noink)</md-button>
            <md-button ng-disabled="isDisabled" class="md-primary">Disabled</md-button>
            <md-button class="md-warn" ng-click="isDisabled = !isDisabled">{{title4}}</md-button>
        </section>

        <h2>Raised</h2>
        <section layout="row" layout-phone="column" layout-align="center center">
            <md-button class="md-raised">Button</md-button>&nbsp;
            <md-button class="md-raised md-primary">Primary</md-button>&nbsp;
            <md-button ng-disabled="true" class="md-raised md-primary">Disabled</md-button>&nbsp;
            <md-button class="md-raised md-warn">Warn</md-button>&nbsp;
        </section>

        <h2>Fab</h2>
        <section layout="row" layout-phone="column" layout-align="center center">
            <md-button class="md-fab" aria-label="Time">
                <md-icon icon="/img/icons/ic_access_time_24px.svg" style="width: 24px; height: 24px;"></md-icon>
            </md-button>
            &nbsp;
            <md-button class="md-fab" aria-label="New document">
                <md-icon icon="/img/icons/ic_insert_drive_file_24px.svg" style="width: 24px; height: 24px;"></md-icon>
            </md-button>
            &nbsp;
            <md-button class="md-fab" ng-disabled="true" aria-label="Comment">
                <md-icon icon="/img/icons/ic_comment_24px.svg" style="width: 24px; height: 24px;"></md-icon>
            </md-button>
            &nbsp;
            <md-button class="md-fab md-primary" md-theme="cyan" aria-label="Profile">
                <md-icon icon="/img/icons/ic_people_24px.svg" style="width: 24px; height: 24px;"></md-icon>
            </md-button>
        </section>

        <h2>Link</h2>
        <section layout="row" layout-phone="column" layout-align="center center">
            <md-button ng-href="{{googleUrl}}" target="_blank">Go to Google</md-button>&nbsp;
            <md-button>RSVP</md-button>
        </section>

        <h2>Colored</h2>
        <section layout="row" layout-phone="column" layout-align="center center">
            <md-button class="md-primary" md-theme="green">Button</md-button>&nbsp;
            <md-button class="md-primary md-raised" md-theme="indigo">Button</md-button>&nbsp;
            <md-button class="md-primary md-raised" md-theme="orange">Button</md-button>&nbsp;
            <md-button class="md-primary" md-theme="cyan">Button</md-button>
        </section>
    </md-content>


</div>