@import url(fonts.css);

html, body { height:100%; margin:0; padding:0 }

body {
    background-color:white;
    font-family: 'robotoregular', sans-serif;
    color: rgb(119, 119, 119);
}

h1, h2, h3, h4, h5, h6 {
}

.ng-scope {
    height: 100%;
}

.container-abs {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.container-valign-middle {
    display: table-cell;
    vertical-align: middle;
}

.container-404 {
    margin-left: auto;
    margin-right: auto; 
    min-width: 250px;
    text-align:center;
}

#wrapper {
    height: 100%;
    float:right;
}

#sidebar-wrapper, #footer, .navbar-custom, .nav-button, .nav-button-close {
    border:1px solid rgba(230,230,230,0.6);
}

#sidebar-wrapper {
     height: 100%;
     float:left;
     position: fixed;
     width: 260px;
     margin-left: -260px;
     z-index: 1100;
     background: white;
     border-left:none;
     border-top:none;
     border-bottom:none;
}

#footer, .navbar-custom {
    background-color:rgba(230,230,230,0.3);
}

.navbar-custom {
    min-height: 56px;
    max-height: 56px;
    border-radius:0;
    margin:0;
    border-left:none;
    border-top:none;
    border-right:none;
    box-shadow: none;
}

.nav-button {
    cursor: default;
    font-size:23px;
    height: 56px;
    line-height: 56px;
    margin:0;
    padding:0 13px 0 18px;
    display: inline-block;
    border-left:none;
    border-top:none;
    border-bottom:none;
}

.nav-button-close {
    cursor: default;
    font-size:23px;
    height: 56px;
    line-height: 56px;
    margin:0;
    padding:0 13px 0 18px;
    display: inline-block;
    float:right;
    border:none;
}

.nav-button:hover, .nav-button-close:hover {
    background-color:rgba(230,230,230,0.3);
}

.app-title {
    font-size:23px;
    height: 56px;
    line-height: 56px;
    margin:0;
    padding:0 16px;
    float:left;
}

.menuvisible #sidebar-wrapper {
    margin-left: 0px;
}

@media(min-width:768px) {
    .nav-button, .nav-button-close {
        display: none;
    }

    #sidebar-wrapper {
        margin-left: 0;
    }

    #wrapper {
        margin-left:260px;
    }
}

#content {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: -56px auto -56px;
    padding: 16px;
}

.clear { clear: both; visibility:hidden; overflow: auto;}

#footer-push, #header-push {
    clear: both;
    height: 56px;
}

#footer {
    clear: both;
    height: 56px;
    padding:0 16px;
    border-left:none;
    border-bottom:none;
    border-right:none;
}
