@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Pacifico);

body {
    font-family: 'Open Sans', sans-serif;
    color:#777777;
    background-color:white;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: rgb(75, 75, 75);
}

.app-font {
    font-family: 'Pacifico', cursive;
}

.container-abs {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.container-valign-middle {
    display: table-cell;
    vertical-align: middle;
}

.container-404 {
    margin-left: auto;
    margin-right: auto; 
    min-width: 250px;
    text-align:center;
}

@media (min-width: 400px) {
    .container-login {
        margin:0 auto;
        width:400px;
    }
}

@media (max-width: 400px) {
    .container-login {
        margin:0 auto;
        width:96%;
    }
}

.navbar-custom {
    background-color: #323232;
    color:#ccc;
}

