/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    color: #333;
}

a {
    text-decoration: none;
    color: #1b98f8;
}

.login-panel {
    max-width: 468px;
    padding:0 1em;
    margin-left: auto;
    margin-right: auto;
}

